@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Thin.woff") format("woff"), url("../fonts/Lato-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Bold.woff") format("woff"), url("../fonts/Lora-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Medium.woff") format("woff"), url("../fonts/Lora-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-Regular.woff") format("woff"), url("../fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  font-display: swap;
  src: url("../fonts/Lora-SemiBold.woff") format("woff"), url("../fonts/Lora-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

.logo__item {
  position: absolute;
  width: 89px;
  height: 32px;
  left: 165px;
  top: 66px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */
  /* Brand Color / Primary */
  color: #10375c;
}

.link {
  position: absolute;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  /* Color / Black */
  color: #222831;
}

.link__home {
  width: 44px;
  height: 28px;
  left: 438px;
  top: 73px;
}

.link__workspace {
  width: 80px;
  height: 28px;
  left: 522px;
  top: 73px;
}

.link__service {
  width: 52px;
  height: 28px;
  left: 642px;
  top: 73px;
}

.link__events {
  width: 48px;
  height: 28px;
  left: 734px;
  top: 73px;
}

.link__reviews {
  width: 59px;
  height: 28px;
  left: 822px;
  top: 73px;
}

.link__contact {
  width: 80px;
  height: 28px;
  left: 921px;
  top: 73px;
}

.links__item {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.links__item :hover {
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}

.links__link-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  position: absolute;
  width: 92px;
  height: 43px;
  left: 1081px;
  top: 61px;
  /* Brand Color / Secondary */
  color: #ff5722;
}

.links__link-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 24px;
  position: absolute;
  width: 103px;
  height: 43px;
  left: 1172px;
  top: 61px;
  /* Brand Color / Secondary */
  background: #ff5722;
  color: #ffffff;
}

.footer {
  position: absolute;
  width: 1175.53px;
  height: 225.63px;
  left: 132px;
  top: 1405px;
}

.title-footer {
  position: absolute;
  width: 355px;
  height: 51px;
  left: 410px;
  top: 5px;
  /* Heading / H2 */
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  text-align: center;
  /* Brand Color / Primary 120% */
  color: #0d2c4a;
}

.footer-subtitle {
  position: absolute;
  width: 633px;
  height: 28px;
  left: 268px;
  top: 80px;
  /* Body / Large - Medium */
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  text-align: center;
  /* Color / Gray 1 */
  color: #9a9a9a;
}

.footer-logo__link {
  position: absolute;
}

._no-webp .footer-logo__link_google {
  background-image: url(../img/Google_Logo.png); }

.footer-logo__link_google {
  width: 120px;
  height: 40px;
  left: 0px;
  top: 160px;
}

._no-webp .footer-logo__link_tokopedia {
  background-image: url(../img/toko_Logo.png); }

.footer-logo__link_tokopedia {
  width: 180px;
  height: 38.57px;
  left: 180px;
  top: 160px;
}

._no-webp .footer-logo__link_upwork {
  background-image: url(../img/upwork_Logo.png); }

.footer-logo__link_upwork {
  width: 120px;
  height: 35.02px;
  left: 420px;
  top: 160px;
}

._no-webp .footer-logo__link_microsoft {
  background-image: url(../img/Micro_Logo.png); }

.footer-logo__link_microsoft {
  width: 170px;
  height: 36.26px;
  left: 600px;
  top: 160px;
}

._no-webp .footer-logo__link_shopify {
  background-image: url(../img/Sopy_Logo.png); }

.footer-logo__link_shopify {
  width: 145.74px;
  height: 45.67px;
  left: 830px;
  top: 155px;
}

._no-webp .footer-logo__link_stripe {
  background-image: url(../img/Stripe_Logo.png); }

.footer-logo__link_stripe {
  width: 139.79px;
  height: 66.63px;
  left: 1036px;
  top: 145px;
}

.footer-block {
  position: absolute;
  width: 1175.53px;
  height: 225.63px;
  left: 0px;
  top: 300px;
  background-color: #10375c;
}

.main-intro__text {
  position: absolute;
  width: 382px;
  height: 120px;
  left: 893px;
  top: 208px;
  /* Body / Extra Large - Medium */
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #6a6a6a;
}

.main-title__title {
  position: absolute;
  width: 101px;
  height: 30px;
  left: 165px;
  top: 160px;
  /* Body / Extra Large - Medium */
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #222831;
}

.main-title__line {
  position: absolute;
  width: 73px;
  height: 2px;
  left: 281px;
  top: 177px;
  /* Color / Black */
  background: #222831;
}

.main-title__subtitle {
  position: absolute;
  width: 667px;
  height: 201px;
  left: 165px;
  top: 198px;
  /* Heading / H1 */
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  /* Brand Color / Primary */
  color: #ff5722;
}

.subtitle-span {
  color: #10375c;
}

.main-white {
  position: absolute;
  width: 540px;
  height: 421px;
  left: 195px;
  top: 453px;
  /* Brand Color / Primary */
  background: #ffffff;
}

._no-webp .white-block__item {
  background: url(../img/meeting_room_1.png) 14px 36px no-repeat; }

.white-block__item {
  position: absolute;
  width: 270px;
  height: 140px;
  left: 0px;
  top: 0px;
  /* Brand Color / Primary */
}

._no-webp .white-block .item-2 {
  background: url(../img/Flag.png) 14px 36px no-repeat; }

.white-block .item-2 {
  top: 140px;
}

._no-webp .white-block .item-3 {
  background: url(../img/User_24px.png) 14px 36px no-repeat; }

.white-block .item-3 {
  top: 280px;
}

._no-webp .white-block .item-4 {
  background: url(../img/circus_1.png) 14px 36px no-repeat; }

.white-block .item-4 {
  top: 0px;
  left: 270px;
}

._no-webp .white-block .item-5 {
  background: url(../img/wifi_1.png) 14px 36px no-repeat; }

.white-block .item-5 {
  top: 140px;
  left: 270px;
}

._no-webp .white-block .item-6 {
  background: url(../img/Users_24px.png) 14px 36px no-repeat; }

.white-block .item-6 {
  top: 280px;
  left: 270px;
}

.white-block__title {
  position: absolute;
  left: 64px;
  top: 36px;
  /* Heading / H3 */
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 41px;
  /* identical to box height */
  /* Brand Color / Primary */
  color: #10375c;
}

.white-block__subtitle {
  position: absolute;
  left: 64px;
  top: 85px;
  /* Body / Normal - Regular */
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Color / Gray 1 */
  color: #9a9a9a;
}

.main-blue {
  position: absolute;
  width: 540px;
  height: 421px;
  left: 735px;
  top: 453px;
  /* Brand Color / Primary */
  background: #10375c;
}

.main-blue__text {
  position: absolute;
  width: 433px;
  height: 150px;
  left: 53px;
  top: 218px;
  /* Body / Extra Large - Medium */
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  /* Color / White */
  color: #ffffff;
}

.all-titles__title {
  position: absolute;
  width: 109px;
  height: 30px;
  left: 53px;
  top: 54px;
  /* Body / Extra Large - Medium */
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  /* Color / White */
  color: #ffffff;
}

.all-titles__line {
  position: absolute;
  width: 73px;
  height: 2px;
  left: 177px;
  top: 68px;
  /* Color / White */
  background: #ffffff;
}

.all-titles__subtitle {
  position: absolute;
  width: 433px;
  height: 102px;
  left: 53px;
  top: 92px;
  /* Heading / H2 */
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  /* Color / White */
  color: #ffffff;
}

.main-news {
  position: absolute;
  width: 1440px;
  height: 375px;
  left: 0px;
  top: 939px;
  /* Color / Gray 4 */
  background: #f8f8f8;
}

.news {
  position: absolute;
  width: 350px;
  height: 320px;
  left: 165px;
  top: 30px;
}

._no-webp .news_1 {
  background: white url(../img/Rectangle_39.png) no-repeat; }

._no-webp .news_2 {
  background: white url(../img/Rectangle_39a.png) no-repeat; }

.news_2 {
  left: 545px;
}

._no-webp .news_3 {
  background: white url(../img/Rectangle_39b.png) no-repeat; }

.news_3 {
  left: 925px;
}

.news__title {
  position: absolute;
  width: 318px;
  height: 56px;
  left: 16px;
  top: 218px;
  /* Heading / H6 */
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  /* Color / Black */
  color: #222831;
}

.news__name {
  position: absolute;
  left: 16px;
  top: 278px;
  /* Body / Normal - Medium */
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  /* Color / Gray 1 */
  color: #9a9a9a;
}

._webp .footer-logo__link_google { background-image: url(../img/Google_Logo.webp); }

._webp .footer-logo__link_tokopedia { background-image: url(../img/toko_Logo.webp); }

._webp .footer-logo__link_upwork { background-image: url(../img/upwork_Logo.webp); }

._webp .footer-logo__link_microsoft { background-image: url(../img/Micro_Logo.webp); }

._webp .footer-logo__link_shopify { background-image: url(../img/Sopy_Logo.webp); }

._webp .footer-logo__link_stripe { background-image: url(../img/Stripe_Logo.webp); }

._webp .white-block__item { background: url(../img/meeting_room_1.webp) 14px 36px no-repeat; }

._webp .white-block .item-2 { background: url(../img/Flag.webp) 14px 36px no-repeat; }

._webp .white-block .item-3 { background: url(../img/User_24px.webp) 14px 36px no-repeat; }

._webp .white-block .item-4 { background: url(../img/circus_1.webp) 14px 36px no-repeat; }

._webp .white-block .item-5 { background: url(../img/wifi_1.webp) 14px 36px no-repeat; }

._webp .white-block .item-6 { background: url(../img/Users_24px.webp) 14px 36px no-repeat; }

._webp .news_1 { background: white url(../img/Rectangle_39.webp) no-repeat; }

._webp .news_2 { background: white url(../img/Rectangle_39a.webp) no-repeat; }

._webp .news_3 { background: white url(../img/Rectangle_39b.webp) no-repeat; }